* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

html{
    height:100%;

}

body{
    height:100%;

    background: linear-gradient(80deg,rgb(139, 176, 243, 1)0%, rgb(131, 243, 116)100%)
}

main{
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;

}

#valueInput{
    height: 30px;
    width: 80px;
    border-radius:40%;
    border-color: rgb(4, 75, 30);
    text-align: center;
    background: linear-gradient(80deg,rgb(113, 165, 184)100%, rgb(255, 255, 255)100%)

}

.form-from, .form-to{
    padding: 15px;
}

#formChange, #toChange{
    height:30px;
    background: rgba(215, 182, 233, 0);
}

.btn{
    height:30px;
    font-size: 16px;
    width:80px;
    align-items: center;
    background: linear-gradient(10deg ,rgb(79, 97, 124), rgb(6, 95, 122));
    font-weight: bold;
    color: white;
}

#form{
    border:black;
    border-color: black;
    font-size: 30px;
}
.btn-convert, .container-result{
    justify-content: center;
    padding:10px;
    display: flex;
}





